@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");

body {
  font-size: 14px;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

:root {
  --blue: rgba(39, 102, 204, 255);
  --yellow: rgba(248, 222, 75, 255);
}

h1,
h2,
h3 {
  color: rgba(39, 39, 39, 118);
}
@media screen and  (max-width:500px){
html{
  font-size: 5px ;
}
}